/** 
 * Jesse Haenen
 * 10670742
 * 
 * Minor Programmeren: Final project
 **/

.label {
    fill: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
    font-size: 12px;
}

body {
    fill: whitesmoke;
}

.full-page {
    height: 100%;
}

.tooltip {
    position: absolute;
    width: 190px;
    height: 160px;
    padding: 2px;
    font: 14px;
    background: #e7e1ef;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}